/*---------------------------------------------------------------------
    Basics
---------------------------------------------------------------------*/
body {
    background-color: #ffffff;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 10pt;
}
h3 {
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
    font-size: 20pt;
    font-weight: bold;
    color: #28398d;
    text-shadow: 1px 1px #c6d3fa
}
.container {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 30px auto 20px auto;
    padding: 10px;
}
/*---------------------------------------------------------------------
    Head
---------------------------------------------------------------------*/
.head {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid #7387c3;
}
.description {
    font-size: 9.5pt;
    color: #686868;
}
/*---------------------------------------------------------------------
    Mode
---------------------------------------------------------------------*/
.mode {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}
.mode-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    padding: 5px 0px 3px 0px;
}
.mode-row .col-1 {
    width: 150px;
}
.mode-row .col-2 .description {
    padding-left: 25px;
    padding-top: 5px;
}
/*---------------------------------------------------------------------
    Forms
---------------------------------------------------------------------*/
.form-main {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.form-main-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 10px;
    width: 100%;
}
.form-main-row .labels {
    width: 220px;
}
.form-main-row .inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}
.button {
    display: inline-block;
    font-family: Verdana;
    width: auto;
    height: auto;
    padding: 5px 20px;

    color: #161238;
    text-shadow: 0 1px 0 #ffffff;

    border: 1px solid #7387c3;
    border-radius: 4px 4px 4px 4px;
    
    background-image: linear-gradient(to top, #c6d3fa, #c6d3fa);
    background-color: #c6d3fa;

    box-shadow: inset 0 1px 0 0 #fff,inset 0 -1px 0 0 #d9d9d9,inset 0 0 0 1px #c6d3fa,0 2px 4px 0 #c6d3fa;
}
.button:hover {
    display: inline-block;
    cursor: pointer;

    color: #ffffff;
    text-shadow: 0 1px 2px #000000;

    border:1px solid #004c6f;
    border-radius: 3px 3px 3px 3px;
    
    background-image: linear-gradient(to top, #28398d, #28398d);
    background-color: #28398d;
    
    box-shadow: inset 0 1px 0 0 #7387c3, inset 0 -1px 0 0 #7387c3, inset 0 0 0 1px #7387c3;
}
.button:focus {
    outline: none;
}
.unvisible {
    display: none;
}
.visible {
    display: flex;
}
/*---------------------------------------------------------------------
    Inputs
---------------------------------------------------------------------*/
input[type="text"], select {
    padding: 5px;
    border: 1px solid #9B9A9A;
    border-radius: 3px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 10pt;
    outline: none;
    width: 100px;
}
input[type="text"]:focus {
    border: 1px solid #2696c9;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #2696c9, inset 0 -1px 0 0 #2696c9, inset 1px 0 0 0 #2696c9, inset -1px 0 0 0 #2696c9;
    outline: none;
}
select {
    width: 112px;
}
/*---------------------------------------------------------------------
    Results
---------------------------------------------------------------------*/
.results {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    border-top: 2px solid #7387c3;
    padding-top: 10px;
    width: 100%;
}
.res-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
    opacity: 0;
}
.res-cell {
    padding: 5px 10px;
    border: 1px solid #7387c3;
    border-radius: 2px;
    width: 50px;
    text-align: center;
    background-color: #c6d3fa;
    font-size: 9pt;
    box-shadow: inset 0 1px 0 0 #fff,inset 0 -1px 0 0 #d9d9d9,inset 0 0 0 1px #c6d3fa,0 2px 4px 0 #c6d3fa;
}
.res-row-error {
    padding: 5px 10px 5px 10px;
    border: 1px solid #FF944C;
    background-color: #FFB786;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box; 
}
